# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
*.pkl

# Docker
*.log

# IDE
.vscode/
.idea/

# Dados
dados/*.csv
dados/*.parquet
dados/*.db

# OS
.DS_Store
Thumbs.db
